.p-footer{
    color: gray;
    font-family: inherit;
    margin-top: 5%;
    text-align: justify;
}

.p-footer-2{
    text-align: center;
    color: gray;
    font-family: monospace;
}

.h5-footer{
    font-family: inherit;
    border-bottom: 1px solid #8080801c;
    padding-top: 15%;
    padding-bottom: 6%;
}

.link{
    border-bottom: 1px solid #8080801c;
    padding-bottom: 2%;
    text-decoration: none;
    color: gray;
    font-family: inherit !important;
    font-size: medium !important;
    &:hover{
        text-decoration: none;
        color: white;
    }
}
