.slider-inter {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65%;

    @media #{$m} {
        background-size: 65%;
    }
}

.carousel-control-prev, .carousel-control-next{
    background-color: black;
    opacity: 0.1 !important;
}