.color {
    &-1 {
        color: $c-white !important;
    }
    &-2 {
        color: $c-black !important;
    }
    &-3 {
        color: $c-gray !important;
    }
}

.bg-color {
    &-1 {
        background-color: $c-white !important;
    }
    &-2 {
        background-color: $c-black !important;
    }
    &-3 {
        background-color: $c-gray !important;
    }
}