.link {
    &-1 {
        color: $c-white;
        text-decoration: none;

        &:hover {
            text-decoration: none;
            color:$c-white;
        }
    }
}

.init-pad {
    padding-top: 90px;
}

.bg-full {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.no-padding {
    padding: 0px !important;
}

.no-margin {
    margin: 0px !important;
}

.greyscale-30 {
    filter: grayscale(30%);
}

.vh {
    &-40 {
        min-height: 40vh;
    }
    &-80 {
        min-height: 80vh;
    }
    &-85 {
        min-height: 85vh;
    }
    &-90 {
        min-height: 90vh;
    }
    &-95 {
        min-height: 95vh;
    }
    &-100 {
        min-height: 100vh;
    }
}