//colors
$c-white:white;
$c-black:black;
$c-gray: #242424;

// Responsive
$s: "only screen and (max-width: 430px)";
$s-m: "only screen and (max-width: 767px)";
$m: "only screen and (max-width: 1200px)";